@model Analisis2Grupo9.Models.ViewModels.EditcatTicket
@{
    ViewBag.Title = "Editar Categoría Ticket";
}

<h2>@ViewBag.Title </h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "CatTicket", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d=>d.idCategoriaTicket)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { role = "form", @class = "text-danger" })

            @Html.LabelFor(d => d.Codigo)
            @Html.TextBoxFor(d => d.Codigo, new { @class = "form-control" })

            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })

           <br />
        <div style="text-align:left">
            <input type="button"
                   class="btn btn-danger"
                   onclick="document.location.href = '@Url.Content("~/CatTicket/Index")'"
                   value="Cancelar" />
        </div>
            <div style="text-align: right">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        }
    </div>
</div>