@model Analisis2Grupo9.Models.ViewModels.InsumoViewModel
@{
    ViewBag.Title = "Agregar Insumo";
}

<h2>@ViewBag.Title</h2>

<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Insumo", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("Error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.id_categoria_insumo)
            @Html.DropDownListFor(d => d.id_categoria_insumo,
                new SelectList(ViewBag.categorias, "id_categoria_insumo", "nombre"),
                new { @class = "form-control form-select" })

            @Html.LabelFor(d => d.codigo)
            @Html.TextBoxFor(d => d.codigo, new { @class = "form-control" })

            @Html.LabelFor(d => d.descripcion)
            @Html.TextBoxFor(d => d.descripcion, new { @class = "form-control" })

            @Html.LabelFor(d => d.cantidad)
            @Html.TextBoxFor(d => d.cantidad, new { @class = "form-control" })

            <br />

            <div class="row">
                <div class="col" style="text-align:left">
                    <input type="button"
                           class="btn btn-danger"
                           onclick="document.location.href = '@Url.Content("~/Insumo/Index")'"
                           value="Cancelar" />
                </div>
                <div class="col">
                    
                </div>
                <div class="col" style="text-align:right">
                    <input type="submit" class="btn btn-success" value="Guardar" />
                </div>
            </div>
        }
    </div>

</div>

