@model Analisis2Grupo9.Models.ViewModels.GestionTicketViewModel
@{
    ViewBag.Title = "Gestionar Ticket";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "GestionTicket", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.idTicket)

            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.idTicketMostrar)
            @Html.TextBoxFor(d => d.idTicketMostrar, new { @class = "form-control", @readonly = "readonly" })
            <br />

            @Html.LabelFor(d => d.TituloTicket)
            @Html.TextBoxFor(d => d.TituloTicket, new { @class = "form-control", @readonly = "readonly" })
            <br />

            @Html.LabelFor(d => d.DescripcionTicket)
            @Html.TextAreaFor(d => d.DescripcionTicket, new { @class = "form-control", @readonly = "readonly" })
            <br />

            @Html.LabelFor(d => d.DescripcionSeguimiento)
            @Html.TextAreaFor(d => d.DescripcionSeguimiento, new { @class = "form-control" })
            <br />

            <div class="form-group">
                @Html.LabelFor(d => d.HoraInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(d => d.HoraInicio, new { @class = "datepicker", @type = "date" })
                </div>
            </div>
            <br />

            <div class="form-group">
                @Html.LabelFor(d => d.HoraFinal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(d => d.HoraFinal, new { @class = "datepicker", @type = "date" })
                </div>
            </div>
            <br />

            <div style="text-align:left">
                <input type="button"
                       class="btn btn-danger"
                       onclick="document.location.href = '@Url.Content("~/GestionTicket/")'"
                       value="Cancelar" />
            </div>
            <div style="text-align:right">
                <input type="submit"
                       class="btn btn-info"
                       value="Guardar" />
            </div>

            <h2>Seguimientos</h2>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Fecha Seguimiento</th>
                            <th>Descripción</th>
                            <th>Fecha Hora Inicio</th>
                            <th>Fecha Hora Fin</th>
                        </tr>

                        @foreach (var item in ViewBag.seguimientos)
                        {
                            <tr>
                                <th>@item.fecha_seguimiento</th>
                                <th>@item.descripcion_seguimiento</th>
                                <th>@item.fecha_inicio_seguimiento</th>
                                <th>@item.fecha_fin_seguimiento</th>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $('.datepicker').datetimepicker({
        defaultDate: new Date(),
        language: 'pt-BR',
        format: 'DD/MM/YYYY hh:mm:ss A',
        sideBySide: true
    });
</script>